[submodule "modules/columnflow"]
    path = modules/columnflow
    url = git@github.com:kleinboe/columnflow.git
    branch = karla

[submodule "modules/cmsdb"]
    path = modules/cmsdb
    url = git@github.com:kleinboe/cmsdb.git
    branch = karla
