[submodule "modules/columnflow"]
    path = modules/columnflow
    url = ../../columnflow/columnflow.git

[submodule "modules/cmsdb"]
    path = modules/cmsdb
    url = git@github.com:BalduinLetzer/cmsdb.git
