[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.dl.cfg

[analysis]

# override defaults for the HHH DL analysis from DL analysis
default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
default_config: c24v15
# TODO_HHH: change to a triple H process
default_dataset: hhh_4b2w_2l2nu_c30_d40_custom

# default_ml_models: multiclass_hhh_v0,hhh_v0

# dl1_version: 0
event_weights_version: 0
pre_ml_cats_version: 0
hhh_dl_ml_inputs_version: 0
repr_max_len: -1
repr_max_count: 3
repr_hash_len: 10
default_keep_reduced_events: True

[outputs]

lara_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
shared_dust_location_lara: /data/dust/user/markusla/public/hh2bbww/data/common_store/

cfg_c24v15__task_cf.GetDatasetLFNs__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts
cfg_c24v15__task_cf.CalibrateEvents__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts
cfg_c24v15__task_cf.SelectEvents__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts
cfg_c24v15__task_cf.ReduceEvents__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts
cfg_c24v15__task_cf.MergeReducedEvents__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts
cfg_c24v15__task_cf.MergeReductionStats__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts
cfg_c24v15__task_cf.ProvideReducedEvents__dataset_hhh_*: local, %(shared_dust_location_lara)s, hbw_parts


