[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.cfg

[analysis]

# override defaults for the DL analysis
default_analysis: hbw.analysis.hbw_dl.hbw_dl
default_config: c22postv14
default_dataset: hh_ggf_hbb_hvv2l2nu_kl1_kt1_powheg

default_ml_models: multiclassv1,ggfv1,vbfv1

dl1_version: 2
event_weights_version: 2
dl_ml_inputs_version: 2
