[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.dl.cfg

[analysis]

# override defaults for the HHH DL analysis from DL analysis
default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
default_config: c24v15
# TODO_HHH: change to a triple H process
default_dataset: hhh_4b2w_2l2nu_c30_d40_custom

# default_ml_models: multiclass_hhh_v0,hhh_v0

dl1_version: 0
event_weights_version: 0
pre_ml_cats_version: 0
hhh_dl_ml_inputs_version: 0

[outputs]

# shared_hbw_location: /nfs/dust/cms/user/frahmmat/public/hh2bbww/data/hbw_store/dl_v3
# shared_hbw_location: /data/dust/user/frahmmat/public/hh2bbww/data/hbw_store
lara_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
# shared_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
# shared_common_location: /data/dust/user/frahmmat/public/hh2bbww/data/common_store/
# shared_common_location: /data/dust/user/markusla/public/hh2bbww/data/common_store/

task_cf.SelectEvents__dataset_tt_dl_powheg: local, %(lara_hbw_location)s, hbw_parts
task_cf.SelectEvents__dataset_ttbb_*: local, %(lara_hbw_location)s, hbw_parts
task_cf.ReduceEvents__dataset_tt_*: local, %(lara_hbw_location)s, hbw_parts
task_cf.ReduceEvents__dataset_ttbb_*: local, %(lara_hbw_location)s, hbw_parts
