[core]

# inherit from the analysis configuration file, allowing to use datasets
# stored at DESY without a Grid certificate
inherit: $HBW_BASE/law.nocert.cfg

[analysis]

default_analysis: hbw.analysis.hbw_sl.hbw_sl
default_config: c17
default_dataset: ggHH_kl_1_kt_1_sl_hbbhww_powheg
