[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.hhh.dl.cfg


[luigi_core]

local_scheduler: true
scheduler_host: naf-cms.desy.de
scheduler_port: 4923

[analysis]

# defaults for the HHH DL analysis
default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
default_config: c24v15
dl_ml_inputs_version: 0
hhh_dl_ml_inputs_version: 0
event_weights_version: 0
pre_ml_cats_version: 0
cats_ml_version_version: 0
dl1_version: 0


# whether or not the ensure_proxy decorator should be skipped, even if used by task's run methods
# skip_ensure_proxy: True

[outputs]

lara_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
shared_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
shared_common_location: /data/dust/user/markusla/public/hh2bbww/data/common_store/

# cfg_c24v15__task_cf.GetDatasetLFNs__dataset_tth_hbb_*: local, %(lara_hbw_location)s, hbw_parts
# cfg_c24v15__task_cf.CalibrateEvents__dataset_tth_hbb_*: local, %(lara_hbw_location)s, hbw_parts
# cf.SelectEvents__dataset_tth_hbb_*: local, %(lara_hbw_location)s, hbw_parts
# cf.ReduceEvents__dataset_tth_hbb_*: local, %(lara_hbw_location)s, hbw_parts


cf.*: local, %(shared_hbw_location)s, hbw_parts
hbw.*: local, %(shared_hbw_location)s, hbw_parts


[task]

interactive_line_breaks: False
