[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.hhh.dl.cfg


[luigi_core]

local_scheduler: true
scheduler_host: naf-cms.desy.de
scheduler_port: 4923

[analysis]

# defaults for the HHH DL analysis
default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
default_config: c24v15
dl_ml_inputs_version: 0
hhh_dl_ml_inputs_version: 5
event_weights_version: 2
pre_ml_cats_version: 1
dl1_version: 5


# whether or not the ensure_proxy decorator should be skipped, even if used by task's run methods
# skip_ensure_proxy: True

[outputs]

# shared_hbw_location: /nfs/dust/cms/user/frahmmat/public/hh2bbww/data/hbw_store/dl_v3
# shared_hbw_location: /data/dust/user/frahmmat/public/hh2bbww/data/hbw_store
lara_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
shared_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
# shared_common_location: /data/dust/user/frahmmat/public/hh2bbww/data/common_store/
shared_common_location: /data/dust/user/markusla/public/hh2bbww/data/common_store/

# task_cf.SelectEvents__dataset_tt_*: local, %(lara_hbw_location)s, hbw_parts
# task_cf.SelectEvents__dataset_ttbb_*: local, %(lara_hbw_location)s, hbw_parts
# task_cf.ReduceEvents__dataset_tt_*: local, %(lara_hbw_location)s, hbw_parts
# task_cf.ReduceEvents__dataset_ttbb_*: local, %(lara_hbw_location)s, hbw_parts
# # cf.MergeSelectionStats: local, %(shared_hbw_location)s, hbw_parts
# cf.ReduceEvents: local, %(shared_hbw_location)s, hbw_parts
# # cf.ProvideReducedEvents: local, %(shared_hbw_location)s, hbw_parts
# # cf.MergeReducedEvents: local, %(shared_hbw_location)s, hbw_parts
# # cf.MergeReductionStats: local, %(shared_hbw_location)s, hbw_parts
# cf.GetDatasetLFNs: local, %(shared_common_location)s, hbw_parts
# cf.CalibrateEvents: local, %(shared_common_location)s, hbw_parts
# # task_cf.ProduceColumns__prod_event_weights: local, %(shared_hbw_location)s, hbw_parts
# # task_cf.ProduceColumns__prod_dl_ml_inputs: local, %(shared_hbw_location)s, hbw_parts
# # task_cf.ProduceColumns__prod_cats_ml_multiclassv3: local, %(shared_hbw_location)s, hbw_parts
# # cf.MergeMLStats: local, %(shared_hbw_location)s, hbw_parts
# # cf.PrepareMLEvents: local, %(shared_hbw_location)s, hbw_parts
# # cf.MLEvaluation: local, %(shared_hbw_location)s, hbw_parts
# # cf.MLTraining: local, %(shared_hbw_location)s, hbw_parts
# # cf.SimpleMergeMLEvents: local, %(shared_hbw_location)s, hbw_partss
# # hbw.BuildCampaignSummary: local, %(shared_hbw_location)s, hbw_parts
# # hbw.ExportDYWeights: local, %(shared_hbw_location)s, hbw_parts
# # hbw.ComputeDYWeights: local, %(shared_hbw_location)s, hbw_parts
# # cf.ProduceColumns: local, %(shared_hbw_location)s, hbw_parts
# # task_cf.MergeShiftedHistograms__dataset_dy*: local, %(lara_hbw_location)s, hbw_parts
# # task_cf.MergeHistograms__dataset_dy*: local, %(lara_hbw_location)s, hbw_parts
# # task_cf.CreateHistograms__datasets_dy*: local, %(lara_hbw_location)s, hbw_parts
# # cf.MergeShiftedHistograms: local, %(lara_hbw_location)s, hbw_parts
# # cf.PlotShiftedVariables1D: local, %(lara_hbw_location)s, hbw_parts
# # cf.BundleBashSandbox: local, %(lara_hbw_location)s, hbw_parts
# # cf.BundleRepo: local, %(lara_hbw_location)s, hbw_parts
# # cf.MergeHistograms: local, %(shared_hbw_location)s, hbw_parts
# # cf.CreateHistograms: local, %(shared_hbw_location)s, hbw_parts

cf.*: local, %(shared_hbw_location)s, hbw_parts
hbw.*: local, %(shared_hbw_location)s, hbw_parts


[task]

interactive_line_breaks: False