[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.hhh.dl.cfg


[luigi_core]

local_scheduler: true
scheduler_host: naf-cms.desy.de
scheduler_port: 4923

[analysis]

# defaults for the HHH DL analysis
default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
default_config: c24v15
dl_ml_inputs_version: 0
hhh_dl_ml_inputs_version: 8
event_weights_version: 3
pre_ml_cats_version: 1
dl1_version: 5


# whether or not the ensure_proxy decorator should be skipped, even if used by task's run methods
# skip_ensure_proxy: True

[outputs]

# shared_hbw_location: /nfs/dust/cms/user/frahmmat/public/hh2bbww/data/hbw_store/dl_v3
# shared_hbw_location: /data/dust/user/frahmmat/public/hh2bbww/data/hbw_store
lara_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
shared_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
# shared_common_location: /data/dust/user/frahmmat/public/hh2bbww/data/common_store/
shared_common_location: /data/dust/user/markusla/public/hh2bbww/data/common_store/
my_dust_location: /data/dust/user/weidnerb/HHH/hh2bbww/data/cf_store/

# cf.MergeSelectionStats: local, %(shared_hbw_location)s, hbw_parts
# cf.ProvideReducedEvents: local, %(shared_hbw_location)s, hbw_parts
# cf.MergeSelectionStats: local, %(my_dust_location)s, hbw_parts
# cf.SelectEvents: local, %(lara_hbw_location)s, hbw_parts
# cf.ProvideReducedEvents: local, %(my_dust_location)s, hbw_parts
# cf.MergeReducedEvents: local, %(shared_hbw_location)s, hbw_parts
# cf.MergeReductionStats: local, %(shared_hbw_location)s, hbw_parts
#task_cf.ProduceColumns__prod_event_weights: local, %(shared_hbw_location)s, hbw_parts
#task_cf.ProduceColumns__prod_hhh_dl_ml_inputs: local, %(shared_hbw_location)s, hbw_parts
#task_cf.ProduceColumns__prod_pre_ml_cats: local, %(shared_hbw_location)s, hbw_parts

cf.*: local, %(my_dust_location)s, hbw_parts
hbw.*: local, %(my_dust_location)s, hbw_parts


[task]

interactive_line_breaks: False