[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.dl.cfg

[analysis]

# override defaults for the HHH DL analysis from DL analysis
default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
default_config: c24v15
# TODO_HHH: change to a triple H process
# default_dataset: hhh_ggf_hbb_hvv2l2nu_kl1_kt1_powheg

# default_ml_models: multiclassv1,ggfv1,vbfv1

dl1_version: 0
event_weights_version: 0
hhh_dl_ml_inputs_version: 0
