[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.cfg

[analysis]

# override defaults for the SL analysis
default_analysis: hbw.analysis.hbw_sl.hbw_sl
default_config: c17
default_dataset: ggHH_kl_1_kt_1_sl_hbbhww_powheg
