
#[core]

# inherit from the main analysis configuration file
#inherit: $HBW_BASE/law.cfg

#[analysis]

# override defaults for the DL analysis
#default_analysis: hbw.analysis.hbw_dl.hbw_dl
#default_config: c24v15
#default_dataset: hh_ggf_hbb_hvv2l2nu_kl1_kt1_powheg

# default_ml_models: multiclassv1,ggfv1,vbfv1

#dl1_version: 5
#event_weights_version: 
#dl_ml_inputs_version: 

#[outputs]

#private_dust_location_lara: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
#shared_dust_location_lara: /data/dust/user/markusla/public/hh2bbww/data/common_store/

#private_dust_location_balduin: /data/dust/user/letzerba/hh2bbww/data/cf_store
#shared_dust_location_balduin: /data/dust/user/letzerba/public/hh2bbww/data/common_store/

# cfg_c__task_cf.SelectEvents__dataset_hh*: local, %(shared_common_2023_location)s, hbw_parts
# cfg_c24v15__task_cf.ReduceEvents__dataset_hh*: local, %(shared_common_2023_location)s, hbw_parts
# cfg_c24v15__task_cf.GetDatasetLFNs__dataset_hh*: local, %(shared_common_2023_location)s, hbw_parts
# cfg_c24v15__task_cf.CalibrateEvents__dataset_hh*: local, %(shared_common_2023_location)s, hbw_parts

#cfg_c24v15__task_cf.GetDatasetLFNs: wlcg, wlcg_fs_desy_bletzer, hbw_parts
#cfg_c24v15__task_cf.CalibrateEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_c24v15__task_cf.SelectEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_c24v15__task_cf.ReduceEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts

#cfg_c24v15__task_cf.MergeSelectionStats: local, %(shared_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeReducedEvents: local, %(shared_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeReductionStats: local, %(shared_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.ProvideReducedEvents: local, %(shared_dust_location_lara)s, hbw_parts

#cfg_l24v15__task_cf.GetDatasetLFNs: wlcg, wlcg_fs_desy_bletzer, hbw_parts
#cfg_l24v15__task_cf.CalibrateEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_l24v15__task_cf.SelectEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_l24v15__task_cf.ReduceEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts

#cfg_c24v15__task_cf.SelectEvents__dataset_ttbb_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.ReduceEvents__dataset_ttbb_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.SelectEvents__dataset_tt_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.ReduceEvents__dataset_tt_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeSelectionStats__dataset_ttbb_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeReducedEvents__dataset_ttbb_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeReductionStats__dataset_ttbb_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.ProvideReducedEvents__dataset_ttbb_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeSelectionStats__dataset_tt_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeReducedEvents__dataset_tt_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.MergeReductionStats__dataset_tt_*: local, %(private_dust_location_lara)s, hbw_parts
#cfg_c24v15__task_cf.ProvideReducedEvents__dataset_tt_*: local, %(private_dust_location_lara)s, hbw_parts

# cfg_l24v15__task_cf.MergeSelectionStats: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_l24v15__task_cf.MergeReducedEvents: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_l24v15__task_cf.MergeReductionStats: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_l24v15__task_cf.ProvideReducedEvents: local, %(shared_dust_location_balduin)s, hbw_parts

#cfg_c23prev14__task_cf.SelectEvents: local, %(shared_dust_location_balduin)s, hbw_parts
#cfg_c23prev14__task_cf.ReduceEvents: local, %(shared_dust_location_balduin)s, hbw_parts
#cfg_c23prev14__task_cf.GetDatasetLFNs: local, %(shared_dust_location_balduin)s, hbw_parts
#cfg_c23prev14__task_cf.CalibrateEvents: local, %(shared_dust_location_balduin)s, hbw_parts

#production_modules: hbw.production.{weights,features,ml_inputs,categories,gen_vbf_candidate,neutrino,synchronization}, hbw.ml.stats
#calibration_modules: columnflow.calibration.jets, hbw.calibration.default
#selection_modules: hbw.selection.{dl_remastered}
# tasks_modules: hbw.tasks.{inference,ml}

# cf.*: local, local_fs, hbw_parts
# hbw.*: local, local_fs, hbw_parts


[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.cfg

[analysis]

# override defaults for the DL analysis
default_analysis: hbw.analysis.hbw_dl.hbw_dl
default_config: c24v15
default_dataset: hh_ggf_hbb_hvv2l2nu_kl1_kt1_powheg

# default_ml_models: multiclassv1,ggfv1,vbfv1

dl1_version:
event_weights_version:
dl_ml_inputs_version:

[outputs]

private_dust_location_lara: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
shared_dust_location_lara: /data/dust/user/markusla/public/hh2bbww/data/common_store/

private_dust_location_bianca: /data/dust/user/weidnerb/analysis/dilepton/hh2bbww/data/cf_store
shared_dust_location_bianca: /data/dust/user/weidnerb/public/hh2bbww/data/common_store/

private_dust_location_balduin: /data/dust/user/letzerba/hh2bbww/data/cf_store
shared_dust_location_balduin: /data/dust/user/letzerba/public/hh2bbww/data/common_store/

cfg_c24v15__task_cf.GetDatasetLFNs__dataset_hhh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.CalibrateEvents__dataset_hhh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.SelectEvents__dataset_hhh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.ReduceEvents__dataset_hhh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts

cfg_c24v15__task_cf.GetDatasetLFNs__dataset_hh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.CalibrateEvents__dataset_hh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.SelectEvents__dataset_hh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.ReduceEvents__dataset_hh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts

cfg_c24v15__task_cf.GetDatasetLFNs__dataset_tth_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.CalibrateEvents__dataset_tth_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.SelectEvents__dataset_tth_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.ReduceEvents__dataset_tth_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts

cfg_c24v15__task_cf.GetDatasetLFNs__dataset_tthh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.CalibrateEvents__dataset_tthh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.SelectEvents__dataset_tthh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.ReduceEvents__dataset_tthh_*: wlcg, wlcg_fs_desy_bletzer, hbw_parts

cfg_c24v15__task_cf.GetDatasetLFNs: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.GetDatasetLFNs: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.CalibrateEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.SelectEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_c24v15__task_cf.ReduceEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
cfg_c24v15__task_cf.ReduceEvents: local, %(shared_dust_location_balduin)s, hbw_parts


# cfg_c25v15__task_cf.GetDatasetLFNs: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_c25v15__task_cf.CalibrateEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_c25v15__task_cf.SelectEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts
# cfg_c25v15__task_cf.ReduceEvents: wlcg, wlcg_fs_desy_bletzer, hbw_parts

# cfg_c24v15__task_cf.MergeSelectionStats: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.MergeReducedEvents: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.MergeReductionStats: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.ProvideReducedEvents: local, %(shared_dust_location_balduin)s, hbw_parts

# cfg_c24v15__task_cf.MergeSelectionStats__red_triggersf: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.MergeReducedEvents__red_triggersf: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.MergeReductionStats__red_triggersf: local, %(shared_dust_location_balduin)s, hbw_parts
# cfg_c24v15__task_cf.ProvideReducedEvents__red_triggersf: local, %(shared_dust_location_balduin)s, hbw_parts

# cfg_c24v15__task_cf.MergeSelectionStats: local, %(shared_dust_location_lara)s, hbw_parts
# cfg_c24v15__task_cf.MergeReducedEvents: local, %(shared_dust_location_lara)s, hbw_parts
# cfg_c24v15__task_cf.MergeReductionStats: local, %(shared_dust_location_lara)s, hbw_parts
# cfg_c24v15__task_cf.ProvideReducedEvents: local, %(shared_dust_location_lara)s, hbw_parts


production_modules: hbw.production.{weights,features,ml_inputs,categories,gen_vbf_candidate,neutrino,synchronization}, hbw.ml.stats
calibration_modules: columnflow.calibration.jets, hbw.calibration.default
selection_modules: hbw.selection.{dl_remastered}
tasks_modules: hbw.tasks.{inference,ml}

# cf.*: local, local_fs, hbw_parts
# hbw.*: local, local_fs, hbw_parts
