[core]

# inherit from the main analysis configuration file
inherit: $HBW_BASE/law.dl.cfg


[luigi_core]
# yes?
# local_scheduler: true
# scheduler_host: naf-cms.desy.de
# scheduler_port: 4923

[analysis]

# defaults for the HHH DL analysis
#default_analysis: hbw.analysis.hbw_hhh_dl.hbw_hhh_dl
#default_config: c24v15
#default_dataset: hh_ggf_hbb_hvv2l2nu_kl1_kt1_powheg
dl1_version: 0
# multiclassv1_version: 2
dl_ml_inputs_version: 0
event_weights_version: 0
pre_ml_cats_version: 0
# default_ml_models: multiclassv3,ggfv3,vbfv3


# whether or not the ensure_proxy decorator should be skipped, even if used by task's run methods
# skip_ensure_proxy: True

[outputs]

# shared_hbw_location: /nfs/dust/cms/user/frahmmat/public/hh2bbww/data/hbw_store/dl_v3
# shared_hbw_location: /data/dust/user/frahmmat/public/hh2bbww/data/hbw_store
# lara_hbw_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
# shared_2024_location: /data/dust/user/markusla/analysis/dilepton/hh2bbww/data/cf_store
private_dust_location_balduin: /data/dust/user/letzerba/cf_data/hh2bbww/cf_store

production_modules: hbw.production.{weights,features,ml_inputs,categories,gen_vbf_candidate,neutrino,synchronization}, hbw.ml.stats
calibration_modules: columnflow.calibration.jets, hbw.calibration.default
selection_modules: hbw.selection.{dl_remastered}
categorization_modules: hbw.categorization.categories
hist_production_modules: hbw.weight.default
ml_modules: hbw.ml.base, hbw.ml.derived.{dl}
inference_modules: hbw.inference.{dl}

task_cf.Plot*: wlcg, wlcg_fs_plots, hbw_parts
task_hbw.ComputeTriggerSF: wlcg, wlcg_fs_plots, hbw_parts
task_hbw.Plot*: wlcg, wlcg_fs_plots, hbw_parts

task_cf.*: local, %(private_dust_location_balduin)s, hbw_parts
task_hbw.*: local, %(private_dust_location_balduin)s, hbw_parts

# For Plotbrowser


[wlcg_fs_plots]
# set this to your desired location
webdav_base: davs://eoscms.cern.ch:443/eos/user/${CF_CERN_USER_FIRSTCHAR}/${CF_CERN_USER}/Projects/php-plots/hh2bbww/${CF_STORE_NAME}
xrootd_base: root://eosuser.cern.ch//eos/user/${CF_CERN_USER_FIRSTCHAR}/${CF_CERN_USER}/Projects/php-plots/hh2bbww/${CF_STORE_NAME}
base: &::xrootd_base
create_file_dir: True
use_cache: $CF_WLCG_USE_CACHE
cache_root: $CF_WLCG_CACHE_ROOT
cache_cleanup: $CF_WLCG_CACHE_CLEANUP
cache_max_size: 25GB


[task]

interactive_line_breaks: False